.patients {
  grid-area: main;
  background: white;
  padding: 20px;
  overflow-y: auto;
  padding-bottom: 5%;
  position: relative;
}

.formParentContainer {
  background: rgba(10, 10, 10, 0.452);
  height: 100%;
  width: 95%;
  z-index: 10;
  padding: 20px;
  overflow-y: auto;
  padding-bottom: 5%;
  position: absolute;
  top: 0;
  left: 0;
}

.patientFormContainer {
  width: 60%;
  height: 100%;
  margin-left: 15%;
  height: max-content;
  position: absolute;
  z-index: 5;
  border-radius: 10px;
  /* box-shadow: 0px 4px 6px aliceblue; */
  background: rgb(255, 255, 255);
  border: 1px solid aliceblue;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.patientFormContainer .title {
  color: #324da6;
}
.patientFormContainer .close {
  font-weight: 600;
  font-size: 18px;
  color: rgb(253, 47, 74);
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border: 1px solid rgb(253, 47, 74);
  background: white;
}

form {
  display: flex;
  flex-direction: column;
  /* color: aliceblue; */
  color: #80889c;
}

form .item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  width: 80%;
  margin-left: 7.5%;
}

form .item input {
  width: 80%;
  font-size: 15px;
  padding-left: 20px;
}

form button {
  padding: 10px;
  width: 40%;
  border: none;
  border-radius: 20px;
  background: #324da6;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid aliceblue;
  font-family: poppins;
}

.addPatientButton {
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}

.addUserBtn {
  padding: 7px 10px;
  background: #324da6;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  min-width: 20%;
  width: max-content;
  border: none;
  font-family: 'poppins';
}

.loading {
  grid-area: main;
  background: white;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
}
