.action {
  padding: 6px 10px;
  background: #324da6;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  border: none;
  width: 100%;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}
